@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.narrow {
  font-family: 'PT Sans Narrow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.impact {
  line-height: .95em;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}